<section class="block cantainer">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quibusdam?</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/easy.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt ducimus vel, quis illo ullam
        dolor
        voluptatibus! Sed, ratione atque.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div class="feature__content">
    <picture>
      <source type="image/webp" srcset="images/easy.webp">
      <source type="image/jpg" srcset="images/easy.jpg">
      <img class="feature__image" src="images/easy.jpg" alt="">
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/computer.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt ducimus vel, quis illo ullam
        dolor
        voluptatibus! Sed, ratione atque.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div class="feature__content">
    <picture>
      <source type="image/webp" srcset="images/fast.webp">
      <source type="image/jpg" srcset="images/fast.jpg">
      <img class="feature__image" src="images/fast.jpg" alt="">
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/wordpress.svg"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt ducimus vel, quis illo ullam
        dolor
        voluptatibus! Sed, ratione atque.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/wordpress.webp">
      <source type="image/jpg" srcset="images/wordpress.jpg">
      <img class="feature__image" src="images/wordpress.jpg" alt="">
    </picture>
</section>
