<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source type="image/webp" srcset="images/ipad.webp">
      <source type="image/png" srcset="images/ipad.png">
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/snap.svg"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae suscipit quam nemo harum dolores
              illum
              odit atque numquam animi?</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/growth.svg"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging,GIT & WP-CLI</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae suscipit quam nemo harum dolores
              illum
              odit atque numquam animi?</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/wordpress.svg"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae suscipit quam nemo harum dolores
              illum
              odit atque numquam animi?</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
